:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
    Ubuntu, Cantarell, "Fira Sans", sans-serif;
}
body {
  background-color: #0c1317;
}
.search-Input {
  border: none;
  width: 100%;
}
.search-Input:focus {
  outline: none;
}
.search-Input input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #00000010;
  /* padding: 6.2px 0; */
  padding: 0 5px;
  border: none;
  font-size: 12px;
  color: white;
}
.search-Input input:focus {
  outline: none;
  border: none;
}
.whatsapp-img {
  background-size: cover;
  width: 60.4%;
  height: 85vh;
  position: fixed;
}

/* chat input */

.chat-inpuut {
  width: 100%;
}
.chat-inpuut input {
  width: 100%;
  padding: 10px 7px;
  border: none;
  border-radius: 6px;
  background-color: #2a3942;
  color: white;
}
.chat-inpuut input:focus {
  outline: none;
}

.cnehsrcbne {
  color: rgba(255, 255, 255, 0.274);
}

/* signup-inputs */

.signup-inputs {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.signup-inputs input {
  width: 90%;
  padding: 10px 5px;
  margin: 5px auto;
  border: none;
  border-radius: 4px;
  background-color: #0c1317;
  color: white;
  font-size: 14px;
}
.signup-inputs input:focus {
  outline: none;
}
